@model blog.ViewModels.BlogViewModel
@* model above represents the data sent through from the Action method of the Ctrl *@
@*<h4>@Model.NumberOfBlogs Blogs</h4>*@ @*(Alternative)*@
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            @{if (Model.Blogs.Count > 0)  // Handle where there are no Blogs  
                {    <h2>@Model.Blogs.Count Blogs w/ @Model.PostCount Posts</h2>}
                else { <h2>No Blogs found</h2>}
            }
        </div>
    </div>
</div>
<table class="table table-striped table-condensed table-hover">
    <tr>
        @* Looks up the first Blog to query its Display annotation from Model definition *@
        <th>@Html.DisplayNameFor(Model => Model.Blogs.FirstOrDefault().BlogTitle)</th>
        <th>@Html.DisplayNameFor(Model => Model.Blogs.FirstOrDefault().BlogAuthor)</th>
        <th>
        </th>  @*for control link column*@
    </tr>
    @foreach (var item in Model.Blogs)
    {
        <tr>
            <td>
                @*display the name of the property (i.e. BlogTitle)*@
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @*display the value of the property (i.e. 'Ode to Code')*@
                @Html.DisplayFor(modelItem => item.BlogAuthor)
            <td>
                @*create a <a> tag to redirect to Details action method *@
                @Html.ActionLink("More", "Details", new { id = item.Id }, new { @class = "btn btn-xs  btn-primary" })
            </td>
        </tr>
    }
    @if (Model.Blogs.Count == 0){
        <tr><td>No records</td><td></td><td></td></tr>
    }
</table>
